@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-body: var(--font-body);
  --font-heading: var(--font-heading);
}

:root {
  --color-primary: #6d28d9;
  --color-primary-light: #8b5cf6;
  --color-primary-dark: #5b21b6;
  --color-accent: #f59e0b;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading), sans-serif;
}
